body {
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-item {
    height: 800px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: #000;
}

#filter {
    margin-top: 100px;
}

#card img {
    height: 200px;
    object-fit: cover;
}

.truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#search {
    max-width: 250px;
}

#details {
    margin-top: 150px;
    min-height: 100dvh;
}

@media (max-width: 576px) {
    #details {
        margin-top: 100px;
    }
}

#product-details img {
    max-height: 850px;
    object-fit: cover;
}

#cart-count {
    font-size: 0.7rem;
}

#cart-icon {
    width: 24px;
}

#cart-details {
    margin-top: 100px;
    min-height: 50dvh;
}

#cart-details img {
    width: 80px;
}

#cart-empty {
    min-height: 50vh;
}

.gradient {
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);

    animation: gradientShift 10s ease infinite;
    color: white;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
