body {
    font-family: "Times New Roman", Times, serif;
}

.carousel-item {
    height: 800px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: #000; /* opcional para relleno */
}

#products {
    padding-top: 100px;
}
