body {
    font-family: "Times New Roman", Times, serif;
}

.carousel-item {
    height: 800px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: #000;
}

#filter {
    margin-top: 100px;
}

#card img {
    height: 200px;
    object-fit: cover;
}

#search {
    max-width: 250px;
}

#details {
    margin-top: 200px;
    min-height: 100dvh;
}

#product-details img {
    max-height: 850px;
    object-fit: cover;
}

#cart-count {
    font-size: 0.7rem;
}

#cart-icon {
    width: 24px;
}

#wh01s17-link {
    text-decoration: none;
}
